<ion-view view-title="{{ title }}">
    <ion-content class="content has-header" ng-controller="AppCtrl">
        <div class="list">
            <div class="card" style="transition-delay: 0.13s;">
                <div class="classic-card item item-divider">
                    <img src="img/classic.jpeg" />
                </div>
                <div class="item item-divider">                    
                    TESTE
                </div>
                <div class="item item-divider">
                    NEXT
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
