<ion-view view-title="{{ title }}">
    <ion-content class="content has-header" ng-controller="AppCtrl">
        <div class="list">
            <div class="card" style="transition-delay: 0.13s;">
                <div class="classic-card item item-divider">
                    <div class="front">                    
                        <img id="back" src="img/classic.jpeg" />
                    </div>
                    <div class="back">                      
                        <img id="front" src="img/front.png" />
                    </div>
                </div>
                <div class="item item-divider">                    
                    TESTE
                </div>
                <div class="item item-divider">
                    NEXT
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
